@mixin selectFieldWrapper {
    .selectFieldWrapper {
        margin-bottom: -8px;

        .selectFieldWrapper-label {
            color: #767676;
            font-size: 14px;
            font-weight: 600;
            line-height: 16px;
            letter-spacing: 0.004em;
            margin-top: -2px;
        }

        .selectFieldWrapperSelect {
            &>div {
                padding-bottom: 0;
                padding-top: 0px;
            }
        }

        fieldset {
            border: 0;
        }
    }
}

@mixin SearchInputWrapper {
    .input-wrapper {
        background-color: #fff;
        border: 1px solid #dbdbdb;
        border-radius: 40px;
        overflow: hidden;
        display: flex;
        align-items: center;
        padding: 8px;
        height: 64px;
        @include selectFieldWrapper;

        .inputFieldWrapper {
            flex: 1;

            input {
                height: 38px;
            }

            input,
            input::placeholder {
                color: $textColor;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                opacity: 1;
            }
        }

        .InputBase {
            width: 100%;
            padding: 0 16px;
        }

        .icon-button {
            background-color: #0d3099;
            color: #fff;
            width: 48px;
            height: 48px;
        }
    }
}

@mixin mobile {
    @media (max-width: 599px) {
        @content;
    }
}