$borderColor: #E5E5E5;
$borderColorSecondary: #e7e7e7;
$usageBorderColor: #808080;
$usageCardIconBg: #e6ebfa;
$borderRadius: 4px;

$textColor: #333;
$textColorGray: #696969;
$primaryColor: #0B1B8D;
$grayColor: #545454;
$warningColor: #F88F1E;
$white: #fff;
$black: #000;
$success: #32d2c9;
$danger: #fd6f63;
$primaryBtnBG: #0B1B8D;
$primartTxtColor: #1A1A1A;


$textsm: 14px;
$textmd: 16px;
$texttitle: 18px;
$texttitlelg: 20px;

$userProfileBg: #f5f5f5;
$backgroundGray: #f6f6f6;
$cardBoxShadowColor: 0 0 4px #cfcfcf;

// Breakpoint
$xlDevice: 1200px;
$lgDevice: 1199px;
$mdDevice: 991px;
$smDevice: 767px;
$xsDevice: 576px;


$secondaryTxtColor: #666666;
$fontWeight600: 600;