.bannerSection {
    background-image: url('../../images/comman/banner-img-blue.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: 100px;


    .bigData {
        h4 {
            text-align: center;
            color: #0B2F9F;
            font-size: 40px;
            font-weight: 600;
        }

        p {
            color: #0B2F9F;
            font-size: 14px;
            margin: 0;
            text-align: center;
        }

        .centerImg {
            text-align: center;
        }

        .headerBtnSection {
            display: flex;
            gap: 0px 20px;
            justify-content: center;
        }
    }
}


.stretgy-story {
    padding: 60px 0px;
    background-color: #fff;

    .vidSection {
        h4 {
            color: #0B2F9F;
            font-size: 28px;
            font-weight: 600;
            text-align: center;
            margin: 0;
        }

        .videoSec {
            margin: 20px 0px;
            text-align: center;

            img {}
        }
    }

    .video-bottom-content {
        display: flex;
        align-items: center;
        gap: 0px 100px;
        width: 60%;
        margin: 50px auto 0;

        .video-left {
            width: 50%;

            h5 {
                color: #1F2A37;
                font-weight: 600;
                font-size: 22px;
                margin: 0;

                span {
                    color: #4CAF4F;
                }
            }

            p {
                font-size: 14px;
                margin: 0;
            }
        }

        .video-right {
            width: 50%;
            display: flex;
            flex-wrap: wrap;
            gap: 30px 30px;

            .content-video {
                width: 40%;

                h4 {
                    color: #1F2A37;
                    font-weight: 600;
                    font-size: 14px;
                    margin: 0;

                    span {
                        color: #4CAF4F;
                    }
                }
            }
        }
    }
}


.greenBgNotes {
    padding: 30px 0px;
    background-color: #4CAF4F;

    .contentSection {
        p {
            margin: 0;
            text-align: center;
            font-size: 24px;
            font-weight: 600;
            color: #fff;
        }
    }
}



.services-boxes {
    padding: 60px 0px;
    background-color: #fff;

    .servicesColumRow {
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        .servicesColum {
            background: #E7FBE6;
            border: 1px solid #E7FBE6;
            border-radius: 20px;
            padding: 24px;
            width: 40%;
            min-height: 440px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;

            .servicesColumImg {
                img {}
            }

            .servicesColumContent {
                h4 {
                    color: #0B2F9F;
                    font-size: 22px;
                    margin-bottom: 20px;
                    margin-top: 20px;
                }

                p {
                    font-size: 14px;
                    color: #1D1D1D;
                    font-weight: 400;
                }
            }
        }
    }
}


.featuresSection {
    padding: 60px 0px;
    background-color: #fff;

    .featuresRow {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 30px;
        justify-content: space-between;

        .feautresColum {
            width: 48%;
            background: #F3EEEA;

            .innerColumFeatures {
                h4 {
                    color: #0B2F9F;
                    font-size: 20px;
                    font-weight: 500;
                }
            }

            &:nth-child(1) {
                display: flex;
                justify-content: end;
                text-align: center;
                padding: 40px 0px 20px 20px;
                border-radius: 0px 24px 24px 0px;

                .innerColumFeatures {
                    display: flex;
                    justify-content: end;
                    flex-direction: column;

                    img {
                        position: relative;
                        left: 50px;
                    }
                }
            }

            &:nth-child(2) {
                display: flex;
                justify-content: flex-start;
                text-align: center;
                padding: 40px 20px 20px 0px;
                border-radius: 24px 0px 0px 24px;

                .innerColumFeatures {
                    display: flex;
                    justify-content: end;
                    flex-direction: column;

                    img {
                        position: relative;
                        left: -10px;
                    }
                }
            }

            &:nth-child(3) {
                display: flex;
                justify-content: end;
                text-align: center;
                padding: 40px 0px 20px 20px;
                border-radius: 0px 24px 24px 0px;

                .innerColumFeatures {
                    display: flex;
                    justify-content: end;
                    flex-direction: column;

                    img {
                        position: relative;
                        left: 50px;
                    }
                }
            }

            &:nth-child(4) {
                display: flex;
                justify-content: flex-start;
                text-align: center;
                padding: 40px 20px 20px 0px;
                border-radius: 24px 0px 0px 24px;

                .innerColumFeatures {
                    display: flex;
                    justify-content: end;
                    flex-direction: column;

                    img {
                        position: relative;
                        left: -10px;
                    }
                }
            }




        }
    }
}


.aminitesSection {
    padding: 60px 0px;
    background-color: #fff;

    .aminitesColum {
        background: #F5F7FA;
        border-radius: 24px;
        padding: 28px 30px 28px 30px;
        margin-bottom: 30px;

        .amiImgIcon {
            margin-bottom: 20px;
        }

        .amiImgContent {
            h4 {
                color: #0B2F9F;
                font-size: 18px;
                font-weight: 500;
            }

            p {
                color: #1F2A37;
                font-size: 14px;
                width: 50%;
            }
        }
    }
}

.digitalMission {
    padding: 60px 0px;
    background-color: #fff;

    .missionImg {
        text-align: center;
        margin-bottom: 30px;
    }

    .missionImgCircle {
        text-align: center;
    }
}

.footer {
    background-color: #232233;
    padding: 60px 0px 30px 0px;

    .footer-row {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 30px;

        .footer-col {
            width: 300px;

            .whiteLogo {
                margin-bottom: 20px;
            }

            p {
                color: #d9d9d9;
                font-size: 16px;
            }

            h4 {
                color: #FFFFFF;
                margin-bottom: 20px;
                font-size: 20px;
                font-weight: 600;
                text-transform: uppercase;
            }

            ul {
                margin: 0;
                padding: 0;

                li {
                    list-style: none;

                    a {
                        color: #d9d9d9;
                        font-size: 14px;
                        display: inline-block;
                        text-decoration: none;
                    }
                }
            }
        }
    }

    .bottomFooter {
        margin-top: 20px;

        p {
            color: #d9d9d9;
            text-align: center;
            margin: 0;
            font-size: 12px;
            font-weight: 400;
        }
    }
}